<header class="pb-3 mb-4 border-bottom">
  <a href="/" class="d-flex align-items-center text-dark text-decoration-none m-3 pb-1">
    <img class='me-3' src="/assets/MatOLab-Logo.svg" height="30" alt="mat-o-lab-logo"/>
  </a>
</header>
<main class="bg-light rounded-3 px-3">
  <div class="container-fluid mb-3">
    <h1 class="display-5 fw-bold">{{ title }}</h1>
    <p class="col-md-12 ps-0 fs-4">
      Uses the OpenBISMantic API to access OpenBIS.
      <a class="icon-link" href="https://github.com/Mat-O-Lab/OpenBISmantic" target="_blank"><img class="icon"
                                                                                                  ngSrc="/assets/github-mark.svg"
                                                                                                  alt="source"
                                                                                                  height="32"
                                                                                                  width="32"></a>
      <a class="icon-link" href="/openbismantic/docs" target="_blank"><img class="icon" ngSrc="/assets/swagger.svg" alt="docs"
                                                                           height="32" width="32"></a>
    </p>
    <router-outlet></router-outlet>
  </div>
</main>
<footer class="pt-3 my-4 text-center text-muted border-top">
  <span class="site-footer-owner"><a href="https://github.com/Mat-O-Lab/OpenBISmantic">{{ title }}</a> is maintained by <a href="https://matolab.org"><img src="/assets/MatOLab-Logo.svg" width="5%" alt="mat-o-lab-logo"/></a>.</span>
</footer>
