<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding [class]="isInventorySpace(node) ? 'inventory' : ''">
    <button mat-icon-button disabled></button>
    {{node.item}}
    <a class="icon-link ms-2" href="{{node.iri}}" target="_blank"><img class="icon" ngSrc="/assets/globe.svg" height="420" width="420"></a>
    <input type="checkbox" (change)="toggleChecked(node)" [checked]="node.selected" [indeterminate]="node.selected == 1" [attr.data-iri]="node.iri" class="ms-2" />
  </mat-tree-node>
  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding [class]="isInventorySpace(node) ? 'inventory' : ''">
    <button mat-icon-button
            [attr.aria-label]="'Toggle ' + node.item" matTreeNodeToggle>
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    {{node.item}}
    <a class="icon-link ms-2" href="{{node.iri}}" target="_blank"><img class="icon" ngSrc="/assets/globe.svg" height="420" width="420"></a>
    <input type="checkbox" (change)="toggleChecked(node)" [checked]="node.selected" [indeterminate]="node.selected == 1" [attr.data-iri]="node.iri" class="ms-2" />
    @if (node.isLoading) {
      <mat-progress-bar
        mode="indeterminate"
        class="example-tree-progress-bar ms-2 me-2"></mat-progress-bar>
    }
  </mat-tree-node>
</mat-tree>
<div id="query" class="mt-5 mb-5">
  <textarea class="form-control" id="query-input">SELECT ?iri ?code WHERE {?iri <http://www.w3.org/1999/02/22-rdf-syntax-ns#type> <https://purl.matolab.org/openbis/Space>; <https://purl.matolab.org/openbis/code> ?code.}.</textarea>
  <button (click)="graphicQuery()" type="submit" class="btn btn-primary float-end m-1">Query</button>
  <button (click)="exportStore()" class="btn btn-secondary float-end m-1">Export</button>
  <pre class="form-control" id="query-output"></pre>
</div>
